<!-- views/homepage.html -->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h3>Enter your email and password</h3> 
<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="text" name="username" value="sidthesloth"/>
    <br>
    <input type="text" name="password" value="slothsecret"/>
    <br>
    <input type="submit" value="Submit" />
</form>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}